<html>
    <body>
        <h2>Admin Article - ajouter</h2>
        <form method="post">
            <input type="text" name="article" />
            <input type="submit" />
        </form>
    </body>
</html>{# empty Twig template #}
