{% extends 'base.html.twig.' %}

{% block body %}

    <h1 class="mt-4 text-center">
        Gerer les biens
    </h1>
    <div class="container mb-5">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td class="">
                        <a href="{{ path('admin.property.edit', {"id":property.id}) }}" class="btn
                        btn-secondary">editer</a>
                        <a href="" class="btn btn-danger">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}