<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Titre dans base.html.twig{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <header>
                Body de base.html.twig
            </header>
        {% endblock %}
        {% block javascripts %}
            ‘@ParadigmBundle/Resources/public/js/jquery-1.11.0.min.js’
        {% endblock %}
    </body>
</html>
