<!-- after installing EMMET you need to press exclamation mark(!) and then tab key to generate basic structure of html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Hello (from HelloBundle) {{ name }}!
</body>
</html>

