{% include 'ParadigmBundle:partials:header.html.twig' %}

<div class="container margin-top-3">
    <div class="">
        <h2> {{ work.name }} </h2>
    </div>
    <div class="">
        <p> {{ work.content|raw }} </p>
    </div>
    <div class="">
    {% for image in images %}    
        <span><img src="{{ asset('bundles/paradigm/img/works/'~image.name) }}" width="400">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</span>
    {% endfor %}
    </div>
</div>

{% include 'ParadigmBundle:partials:cms_footer.html.twig' %}