<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tomatoweb Development</title>
    <link rel="stylesheet" href="{{ asset('bundles/paradigm/css/paradigm2.css') }}" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ asset('bundles/paradigm/img/works/favicon.png') }}">
</head>
<body>