<div id="footer" style="position: fixed">Development/Design by MONA LISA Creations <span style="font-family:arial;font-size:12px"> ©</span> {{ "now"|date("Y") }}</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% block javascripts %}
<script>
    $(document).ready(function(){
       $( ".slideToggle" ).click(function(){
            $( ".sub-menu" ).fadeToggle(300);
            if($(".sub-menu").is(":visible") === $(".sub-menu1").is(":visible")){
                    $(".sub-menu1").fadeToggle(300);
            }
       });
       $(".slideToggle1").click(function(){
            $(".sub-menu1").fadeToggle(300);
            if ($(".sub-menu").is(":visible") === $(".sub-menu1").is(":visible")){
                $(".sub-menu").fadeToggle(300);
            }
       });
       $(".slideToggle3").mouseover(function() {$(".end-content").fadeToggle(300);})
                         .mouseout(function()  {$(".end-content").fadeToggle(300);});
       $(".slideToggle4").mouseover(function() {$(".end-content1").fadeToggle(300);})
                         .mouseout(function()  {$(".end-content1").fadeToggle(300);});
       $(".slideToggle5").mouseover(function() {$(".end-content2").fadeToggle(300);})
                         .mouseout(function()  {$(".end-content2").fadeToggle(300);});
       $(".slideToggle6").mouseover(function() {$(".end-content3").fadeToggle(300);})
                         .mouseout(function()  {$(".end-content3").fadeToggle(300);});
       $(".slideToggle7").mouseenter(function() {$(".navbar-content").fadeIn(300);})
                         .mouseleave(function()  {$(".navbar-content").fadeOut(300);});
      
      $('div.alert.alert-danger').delay(7000).slideUp(300);
    });
</script>
{% endblock %}
</body>
</html>

