<div id="footer">
    Development/Design by 
    <a href="{{ path('home') }}" id="footer-link" title="MonaLisaCreations.de">MONA LISA Creations</a>
     <span style="font-family:arial;font-size:12px"> ©</span> {{ "now"|date("Y") }}
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>

$(document).ready(function(){    
    $("#product").autocomplete({
        source: function (request, response) {                        
            $.get("getproduct.php?q=" + request.term, function(data) {                
                                                                response(data);
                                                           });
        },
        minLength: 1
    });
});

       
/* With xmlhttprequest */
/*
$(document).ready(function(){
    $("#product").keyup(function(){    
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open('GET', "getproduct.php?q=" + $("#product").val(), true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function(){            
            if(xmlhttp.readyState == 4 && xmlhttp.status == 200){                
                result = JSON.parse(xmlhttp.responseText);                
                $("#product").autocomplete({
                    source: result,                                                
                    minLength: 1, // doesn't work...
                });                
            }            
        }
    });
});
*/
        

</script>
</body>
</html>